/* Общие правила */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  inline-size: 1200px;
  min-block-size: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1919;
  color: #fff;
  font: 18px 'Fira Sans Condensed', sans-serif;
}

/* Сбросы */
h1, h2, h3, h4,
p, ul, ol, li,
blockquote, fieldset {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

/* Скролл */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d9d9d9;
}

/* Основная разметка */
.content {
  width: 1140px;
  height: 534px;
  display: grid;
  grid-template-columns: 710px 400px;
  grid-template-areas: "result details";
  gap: 30px;
  align-items: end;
}

.result {
  grid-area: result;
}

.result__video-container {
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Боковая колонка */
.content__details {
  grid-area: details;
  height: inherit;
}

.search-form {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__list-container {
  position: relative;
  height: 298px;
  margin-top: 26px;
  overflow-y: auto;
}

/* Заголовки */
.title {
  font: 700 75px/0.94 'Oswald', sans-serif;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* Список видео */
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  transition: background 0.15s;
}

.content__video-card:hover {
  cursor: pointer;
}

.content__video-card:active {
  background: #545050;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex: 1;
  padding-left: 10px;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1;
}

.content__video-card-description {
  line-height: 16.2px;
}

/* Поля ввода */
.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  inset: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-block: 1px solid #fff;
  background: transparent;
  font: inherit;
  color: inherit;
  opacity: .7;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-form__textfield:active {
  border-inline: 1px solid #fff;
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Чекбоксы */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  display: grid;
  place-items: center;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
}

.search-form__checkbox:hover,
.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

/* Кнопки */
.button {
  height: 34px;
  padding-inline: 12px;
  border: 1px solid #fff;
  background: #1b1919;
  color: #fff;
  font-weight: 700;
  display: grid;
  place-items: center;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}
